<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" >
    <test verbose="2" preserve-order="true" name="C:/Users/Goutam/IdeaProjects/Parallel_Execution">
        <classes>
            <class name="testpacks.LoginTest">
               </class>
        </classes>
    </test>
</suite>